@model Zadania.Models.Zadanie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zadanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataWaznosci" class="control-label"></label>
                <input asp-for="DataWaznosci" class="form-control" />
                <span asp-validation-for="DataWaznosci" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyMoznaWyslacPoTerminie" /> @Html.DisplayNameFor(model => model.CzyMoznaWyslacPoTerminie)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Punktacja" class="control-label"></label>
                <input asp-for="Punktacja" class="form-control" />
                <span asp-validation-for="Punktacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlasaId" class="control-label"></label>
                <select asp-for="KlasaId" class ="form-control" asp-items="ViewBag.KlasaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NauczycielId" class="control-label"></label>
                <select asp-for="NauczycielId" class ="form-control" asp-items="ViewBag.NauczycielId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
